@model ITSAIntermediate_VelaphiMhlanga.Models.AddEmployeeDetailsViewModel


@{
}

<h1>Add EMPLOYEE </h1>
<form method="post" action="Add" class="mt-3">
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Role</label>
        <input type="text" class="form-control" asp-for="eRole">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>