@model List<ITSAIntermediate_VelaphiMhlanga.Models.Domain.EmployeeDetail>

@{
}

<h1> EMPLOYEE DETAIL LIST </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Department</th>
            <th>eRole</th>
            <th>Salary</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employeeDetail in Model)
        {
            <tr>
                <td>@employeeDetail.Id</td>
                <td>@employeeDetail.Department</td>
                <td>@employeeDetail.eRole</td>
                <td>@employeeDetail.Salary.ToString("")</td>
                <td><a href="EmployeeDetails/View/@employeeDetail.Id">View</a></td>
            </tr>
        }

    </tbody>
</table>

